.blog-content {
    position: absolute;
}

.blog-card:hover .blog-content {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(15, 19, 20, 0.8);
    transition: all .6s linear;
}

.blog-card:hover .arrow-down {
    display: none;
}

.read-btn {
    display: none;
}

.blog-card:hover .read-btn {
    display: block;
}